#top {
  background-color: #33ff88;
  margin-top: 15px;
  padding-top: 10px;
  border: 2px solid grey;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* type selector targets elemets of type fieldset*/
fieldset {              
    margin-top: 4px;
    background-color: #8f8e6e;
  }

legend {
    color: #d46622;
    background-color: #ccadbe;
    border: 1px solid #72072e;
    padding: 3px;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 4px;
    padding: 4px;
}

td {
    padding: 2px;
}
/*class selector targets elements in required class*/
.required {
    color: #ffa600;
  }
/*id selector targets elemets with data id*/
#data p {               
    padding-left: 8px;
  }

/* attribute selector targets elements with color attribute set to "white" and changes their text color to black. */
[data-color="white"] {
  color: black;
}

/* universal selector changes all text to times new roman*/

* {
  font-family: "Times New Roman", Times, serif;
}



/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Dropdown Button */
.dropbtn {
  background-color: dodgerblue;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  top: 70px
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}